<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="サイトをキーワードで説明">
    <meta name="description" content="どんなサイトかを短い文章で説明">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=1">
    <title>人生相談！短歌部</title>
    <script src="../js/common.js"></script>
  
</head>

<body>

    <header>
<!--         <nav class="glovalNavi"> -->
<!--             <ul class="globalNavi_list">
                <li id="menu-item1" class="menu-item"><a href="">詠んでみる</a></li>
                <li id="menu-item2" class="menu-item"><a href="">お悩み和歌を見る</a></li>
                <li id="menu-item3" class="menu-item"><a href="">和歌詠みのルール</a></li>
                 -->
                
        <ul id="menu">
            <li><a href="#">詠んでみる</a>
            <ul>
                <li><link rel></li>
            </ul>
            </li>
            <li><a href="#">お悩み和歌を見る</a>
            <ul>
                <li><a href="#">性格・生き方</a></li>
                <li><a href="#">仕事</a></li>
                <li><a href="#">お金</a></li>
                <li><a href="#">恋愛</a></li>
                <li><a href="#">健康</a></li>
                <li><a href="#">学校</a></li>
                <li><a href="#">家族</a></li>
                <li><a href="#">夫婦</a></li>
                <li><a href="#">友達</a></li>
                <li><a href="#">その他</a></li>
            </ul>
            </li>
            <li><a href="#">和歌詠みのルール</a>
            <ul>
                <li><a>・このサイトでは自身の悩みや相談事を5・7・5・7・7の短歌形式で投稿してください。<br>・気に入った短歌があったら返歌を詠んでみてください！軽~い気持ちで、気軽に投稿してくみてね(^^♪<br>＜注意事項＞※悪口等、投稿者・閲覧者が不快な思いになるような投稿はおやめください。
                </a></li>
            </ul>
            </li>
        </ul>
        
                
                
                
                
<!--             </ul>
        </nav> -->
    </header>

    {% block content %}
    {% endblock %}
    
    <footer>
        <p class="copyright">Copyright &copy; DEMO all rights reserved.</p>
    </footer>

</body>

</html>
