{% extends 'base.html' %}

{% block content %}

<div class="post" margin style="margin:150px 500px;" >
    <select name="genre" id="genre">
        <option value="se">ジャンル選択</option>
        <option value="fa" id="7" >家族</option>
        <option value="hu" id="1">性格・生き方</option>
        <option value="he" id="5">健康</option>
        <option value="mo" id="3">お金</option>
        <option value="fr" id="9">友達</option>
        <option value="li" id="8">夫婦</option>
        <option value="sc" id="6">学校</option>
        <option value="lo" id="4">恋愛</option>
        <option value="wo" id="2">仕事</option>
        <option value="no" id="10">その他</option>
    </select>
    <form action="/post" method="post">
      <textarea name="comment" cols="70" rows="5" ></textarea><br>
      <textarea name="supplement" id="supplement" cols="70" rows="20" placeholder="補足説明をご記入ください"></textarea><br>
      <input type="submit" name="save" value="投稿">
    </form>
</div>
{% endblock %}