{% extends 'base.html' %}

{% block content %}

<div class="post" margin style="margin:150px 500px;" >
    <select name="genre_id" id="genre">
      <option hidden  value="ja">ジャンル選択</option>
      <option value="hu">性格・生き方</option>
      <option value="wo">仕事</option>
      <option value="mo">お金</option>
      <option value="lo">恋愛</option>
      <option value="he">健康</option>
      <option value="sc">学校</option>
      <option value="fa">家族</option>
      <option value="li">夫婦</option>
      <option value="fr">友達</option>
      <option value="no">その他</option>
    </select>
    <form action="/post" method="post">
      <textarea name="comment" cols="70" rows="5" placeholder="和歌を詠んでね" ></textarea><br>
      <textarea name="discription" id="discription" cols="70" rows="20" placeholder="補足説明をご記入ください"></textarea><br>
      <input type="submit" name="save" value="和歌を投稿する" padding="30px" text-align="center">
    </form>
</div>
{% endblock %}